.container-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* justify-content: flex-start; */
  background-color: white;
  gap: 5rem;
  color: black;
  /* padding: 20px; */
  background-color: rgb(242, 236, 236);
 padding-top: 0.8rem;
 padding-bottom: 0.5;
}


/* .container-navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1rem;
  color: white;
  margin-left: 0rem;
  background-color: rgb(242, 236, 236);
} */

.lists-navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: black;
  font-size: 1rem;
}

.login-navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
}

.items-navbar {
padding: 0.5rem;
}

.items-buttons {
  color: white;
  text-decoration: none;
  width: 20rem;
 
}

.items-buttons:hover {
  background-color: black;
  color: darkgrey; /* change text color on hover */
  text-decoration: none; /* Remove underline */
}

.items-navbar:hover {
  text-decoration: none;
  color: darkgray;
}

.container-home-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-home {
  width: 20rem;
}

.description-home {
  padding-left: 1rem;
  text-justify: auto;
  font-size: 1rem;
}

/* .carousel-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */



.img-header {
  height: 4rem;
  border-radius: 50%;
}

.slogan-header {
  font-size: 2rem;
}

/* Media Queries */
@media (max-width: 576px) {
  .img-header {
    height: 2rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .lists-navbar {
    padding-left: 5rem;
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .lists-navbar {
    padding-left: 2rem;
    font-size: 0.8rem;
  }
}
