.calender-styling {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: auto;
  height: 450px;
  width: 50%;
  padding: 30px;
  margin-bottom: 40px;
  
}

.calender-styling .rbc-toolbar button {
  background-color: #007bff;
  color: #fff;
  border-radius: 3px;
  padding: 6px 12px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.calender-styling .rbc-toolbar button:hover {
  background-color: #0069d9;
}

.calender-styling .rbc-toolbar .rbc-active {
  background-color: #0069d9;
}

.calender-styling .rbc-month-view {
  background-color: snow;
  border: none;
}

.calender-styling .rbc-day-bg {
  color: #999;
}

.calender-styling .rbc-event {
  background-color: #007bff;
  border-radius: 5px;
  padding: 5px 10px;
  color: rgb(199, 26, 26);
  cursor: pointer;
}

.calender-styling .rbc-event:hover {
  background-color: #0069d9;
}

.calender-styling .rbc-selected {
  background-color: #007bff !important;
  color: #fff;
}

.calender-styling .rbc-today {
  background-color: #f2f2f2;
}

.calender-styling .rbc-toolbar-label {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.calender-styling .rbc-toolbar-label + button {
  margin-left: 10px;
}


.event-editor {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}



.event-editor h3 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
}

.event-editor p {
  margin-top: 0;
  margin-bottom: 10px;

}

.edit-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #3e8e41;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d32f2f;
}



