.container-search-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  gap: 1rem;
}
.header-slimteam{

  text-align: center;
}
.button-expert {
  background-color:rgb(101, 97, 97);
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0.5rem;
}
.button-expert:hover {
  color: white;
  background-color: black;
}
.heading{

  text-align: left;
}
.heading2{
padding: 0.1rem;

}
.filter-container {
  width: 100%;
  height: 120rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem 0rem 1rem 1rem;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: rgb(255,250,250);
}


.filter-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}

.expert-list-container {
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 2rem 0rem;

width: 100%;
}
.expert-list-container{
  background-color:F2ECEC;
}


.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.05rem solid black;
  width: 10rem;
  padding: 0.75rem 0.75rem;
}

.card-container:hover {
  box-shadow: 0 1rem 1rem 0 rgba(239, 5, 5, 0.2);
}

.card-name {
  font-size: 0.9rem;
}

.card-expertise {
  font-size: 0.8rem;
  text-align: center;
}

.card-address {
  font-size: 0.8rem;
}

.star-review-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}



.number-reviews {
  font-size: 0.85rem;
}

.view-details-button {
  text-decoration: none;
  color: black;
}

/* Expert portfolio page*/

.goBackArrow {
  background-color: white;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  margin: 0rem 1rem;
}

.goBackText {
  font-size: 1rem;
  cursor: pointer;
  color: gray;
}

.expert-portfolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  width:100%;
}

.expert-description-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

/* .banner {
  width: 100%;
  height: 18rem;
  background-color: aliceblue;
} */

.profile-picture {
  border: 0.01rem solid black;
  border-radius: 50%;
  padding: 0.3rem;
  margin-top: 0rem;
  margin-left: 1rem;
  text-align: center;
}
.main-card{
 background-color: #15731e;
  text-align: center;
}

.expert-headline {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.name-address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}

.professional-experience {
  border: 0.01rem solid rgb(196, 184, 184);
  border-radius: 1rem;
  padding: 1rem;
}
.my-list {
  list-style-type: none;
}
.rate-review-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  border: 0.01rem solid black;
  border-radius: 1rem;
  width: 23%;
  margin-bottom: 1rem;
  padding: 1rem;
}

.write-review {
  width: 80%;
  background-color: white;
  border: 0.01rem solid black;
}
.expert-portfolio2{

display: flex;



  width: 100%;
  text-align: center;
}
.expert{

  text-align: center;
 align-content: center;
}

.checkbox-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.3rem;
}

.form-check-label {
  padding-left: 0.5rem;
  cursor: pointer;
}

.no-search-text{
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
}

MuiFilledInput-underline:after {
  border-bottom: 2px solid grey;
}

