/* Default styles for the hero section */
.hero-page {
 /* background-image: url("../../images/bg.avif"); */
  opacity: 1;
  background-size: cover;

}
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script:wght@600&family=Julius+Sans+One&family=Pangolin&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script:wght@600&family=Holtwood+One+SC&family=Julius+Sans+One&family=Pangolin&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script:wght@600&family=Holtwood+One+SC&family=Julius+Sans+One&family=Pangolin&family=Space+Mono&family=Tilt+Prism&display=swap');


.aroj {
  margin-top: 3rem;
  margin-right: 3rem;
  margin-bottom: rem;
  mix-blend-mode: multiply;
}

.line {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.flex-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/* 
.image {
  margin: 3rem;

  border-radius: 2%;
  max-width: 100%;
} */

.slogan {
  font-family: Baskerville;
  padding: 20px;
  display: flex;
  justify-content: center;
  font-weight:bolder;
  text-align: center;
  /* font-size: 30px; */
  font-family: 'Julius Sans One', sans-serif;
  /* font-family: 'Holtwood One SC', serif; */
  /* font-family: 'Tilt Prism', cursive; */
  mix-blend-mode: multiply;
}

.carousel-bg{
background-color: rgb(242, 236, 236);

}
.paragraph {
  text-align: center;
  font-size: 16px;
}

.hero-section {
  padding: 15px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reviews {
  font-size: 16px;
  display: flex;
  flex-direction: row;
}

.icons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  margin-top: 3rem;
}

.horizontal-line {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.carousel-control-prev, .carousel-control-next {
  display: none;
}

/* Media queries to adjust styles based on screen size */
@media screen and (max-width: 768px) {
  .flex-carousel {
    flex-direction: column;
    align-items: center;
  }


  /* .slogan {
    font-size: 20px;
  } */

  .hero-section {
    padding: 30px;
    margin: 7px;
  }
}

@media screen and (max-width: 480px) {
  .image {
    margin: 0.25rem;
    width: 90%;
    mix-blend-mode:initial;
  }


  .hero-section {
    padding: 5px;
    margin: 2px;
  }
}

