/*    body{
    background-color: rgb(233, 215, 215);
    background-image: url(../images/signup-bg.jpg);
   } */

   
  .registerLogin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 3%;
    width: 30%;
    height: 33rem;
    margin: 2rem auto 2rem auto;
    box-shadow: 0 0.25rem 0.25rem 0.25rem rgba(0,0,0,0.2);
  }

  .form-group {
    overflow: hidden;
    margin-bottom: 1rem;
  }

  .form-input {
    width: 100%;
    border: 0.01rem solid rgb(180, 178, 178);
    box-sizing: border-box;
    height: 2.5rem;   
    padding: 1rem;
    font-size: 0.9rem;
    border-radius: 0.4rem;

  }
  
  a {
    color: black;
  }

  .checkbox {
    padding: 1rem 0 2rem 0;
  }

  .form-submit {
    width: 100%;
    border: none;
    box-sizing: border-box;
    height: 2.5rem;   
    font-size: 0.95rem;
    font-weight: 600;
    color: white;
    background-color: #152d73;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  /* For login page*/

  .password-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border: 0.01rem solid rgb(180, 178, 178);
    box-sizing: border-box;
    height: 2.5rem;   
    padding: 1rem;
    font-size: 0.9rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
  }

  .password-input {
    width: 100%;
    outline: none;
    border: hidden;
  }

  .password-icon {
    cursor: pointer;
  }

  .forgot-password {
    margin-bottom: 1rem;
    font-weight: 600;
  }

.remember-forgot {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3.5rem;
  margin-bottom: 1rem;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
}

.hr-sect:before,
.hr-sect:after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 0.085rem;
  font-size: 1rem;
  margin: 0 0.8rem;
}

.social-media-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.social-media-submit {
  width: 100%;
  border:#DB4437;
  box-sizing: border-box;
  height: 2rem;   
  font-size: 0.85rem;
  color: white;
  border-radius: 0  0.5rem 0.5rem 0;
  text-align: center;
  cursor: pointer;
}

.google-icon-field {
  background-color: red;
  height: 2rem;
  width: 2rem;
  padding-left: 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

.google-input-field {
  background-color: #DB4437;
  text-align: center;
}

.linkedin-icon-field {
  background-color: rgb(20, 103, 227);
  height: 2rem;
  width: 2rem;
  padding-left: 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
}

.linkedin-input-field {
  background-color: #0072b1;
}

.create-new {
  margin-bottom: 1rem;
  font-weight: 600;
}

.radiobutton {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}