.startandend {
  color: rgb(160, 151, 151);
}

.portfoliobutton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
}
/* 
.rate-review-container {
  width: 100%;
} */
.icons{

float:right;


}
.skills {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.expert-description-container {
  max-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.upload .profile-picturee {
  border: 0.01rem solid rgb(160, 151, 151);
  border-radius: 50%;
  padding: 0.15rem;
  background-color: rgb(160, 151, 151);
}

.upload .profile-picturee {
    display: block;
    margin: 0 auto;
  }

.camerabutton {
  position: absolute;
  background-color: aliceblue;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transform: translate(140%, 140%);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.upload:hover .camerabutton  {
  opacity: 0.8;
}

.expert-headline-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47rem;
}

.expert-headline-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 27rem;
}

.expert-location {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.expert-portfolio {
  /* width: 60vw; */
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5rem;
  flex-wrap: wrap; /* delete this line in case it should be in a row */
}

.professional-experience
{
margin-bottom: 1rem;
  padding: 0rem;
}
.experience-item{
 display: flex;
 flex-direction: row;
  
}
.experience{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}

