/* Default styles for the footer */


.container-contact {
  background-color: rgb(242, 236, 236);
  color: black;
  font-size: 1.1rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2px;
  text-align: center;

}

.logo {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}

.line {
  border-bottom: 2px solid black;
}

.social-media {
  padding-bottom: 15px;
}
.social-media > *:not(:last-child) {
  margin-right: 20px; /* add a 10px margin to all icons except the last one */
}

.social-media:hover {
  cursor: pointer;
}

.footer-down {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-downs {
  padding-left: 20px;
  padding-right: 20px;
}

.footer-downs:hover {
  cursor: pointer;
}

/* Media queries to adjust styles based on screen size */
@media screen and (max-width: 768px) {
  .logo {
    font-size: 16px;
    padding-top: 10px;
  }

  .social-media {
    padding-bottom: 10px;
  }
  .social-media > *:not(:last-child) {
    margin-right: 10px; /* reduce margin to 5px for smaller screens */
  }

  .footer-down {
    font-size: 10px;
  }

  .footer-downs {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    font-size: 12px;
    padding-top: 5px;
  }

  .social-media {
    padding-bottom: 5px;
  }
  .social-media > *:not(:last-child) {
    margin-right: 5px; /* reduce margin to 2px for even smaller screens */
  }

  .footer-down {
    font-size: 8px;
  }

  .footer-downs {
    padding-left: 5px;
    padding-right: 5px;
  }
}
