.post-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.post-div {
  border: 0.001rem solid rgb(230, 222, 222);
  padding: 0.75rem 0.75rem;
  border-radius: 0.75rem;
  width: 40rem;
}

.post-input {
  width: 38rem;
  height: 2.5rem;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0.4rem;
  border: 0.001rem solid rgb(230, 222, 222);
  margin-bottom: 1rem;
}

.attachment-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10rem;
}

.post-image-btn {
  color: black;
  text-decoration: none;
  border-radius: 0.3rem;
  border: none;
  font-size: 0.8rem;
}

.post-image-btn:hover {
  color: darkgrey; 
  text-decoration: none; 
}

.post-submit {
  height: 2.0rem;
  width: 8rem;
  border: none;
  box-sizing: border-box;
  font-size: 1rem;
  background-color: rgb(101, 97, 97);
  color: white;
  text-decoration: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.post-submit:hover {
  background-color: rgb(101, 97, 97);
  color: darkgrey; 
  text-decoration: none; 
}

.post-submit:active {
  padding-top: 11px;
  padding-right: 10px;
  padding-bottom: 9px;
  padding-left: 10px;
  top: 1px;
  color: white;
}

.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 0rem;
}

.post-card {
  border: 0.001rem solid rgb(230, 222, 222);
  padding: 0.75rem 0.75rem;
  border-radius: 0.75rem;
  width: 40rem;
}

.post-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-image {
  width: 38rem;
}

.response-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 10rem;
}

.respond-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
}

.horizontal-line {
  border: 0.01rem solid gray;
  color: gray;
  width: 100%;
  height: 0rem;
  opacity: 20%;
  margin-left: 0;
}

.post-author {
  color: rgb(9, 135, 167);
}

.read-more-less {
  background-color: transparent;
  border: none;
  color: rgb(9, 135, 167);
  cursor: pointer;
}